@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}


.projectsSelection {
  display: flex;
  column-gap: 3rem;
}

.theorySection {
 width: 150px;
 height: 150px;
 background-color: rgba(115, 175, 224, 0.541);
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.routingProject {
  width: 150px;
  height: 150px;
  background-color: rgba(115, 224, 148, 0.541);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .authProject {
  width: 150px;
  height: 150px;
  background-color: rgba(224, 115, 215, 0.541);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 }